body{
    background-color:  #F0F8FF;
}

h1, h2, h3 {
    border-width : 0 0 0 8px;
    border-style : solid;
    padding-left : 0.3em;
    padding-right : 0.5em;
}

h1 {
    margin: 0em 0em 0em 0em;
    font-size : 1.2em;
    color : white;
    border-color : #fff8dc;
    background-color : maroon;
    border-width: 0.1em 0em 0.1em 0.1em;
    padding-left : 0.3em;
    padding-right : 0.5em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
}

h2 {
    font-size : 1.2em;
    color: navy;
    border-color : navy
}

h3 {
    font-size : 1em;
    color : darkgreen;
    border-color : darkgreen
}

table {
    border-width : 1px,2px,2px,1px;
    border-type : solid;
    border-color : gray;
    padding : 0;
    background-color : gray;
}

th, td {
    border-width : 1px,0px,0px,1px;
    border-type : solid;
    border-color : gray;
    padding : 4px;
    background-color : #ffffef;
}

th {
    text-align : center;
    font-weight : bold;
    background-color : #a0b8c8;
}

input.submit_button {
  background-color: #0000FF;
  font-size: 1.4em;
  color: white;
  border: 1px solid blue;
  width: 15%;
}

div.ctrl {
  text-align: center;
}

button.start {
  background-color: #248;
  font-size: 1.4em;
  color: white;
  border: 1px solid blue;
  width: 30%;
}

button.exit {
  background-color: #fd5858;
  font-size: 1.4em;
  color: white;
  border: 1px solid #f01d40;
  width: 30%;
}

button.ctrl_button {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #248;
  color: #fff;
  border-style: none;
}

button.ctrl_button:hover {
  background-color: #24d;
  color: #fff;
}

button.stop_button {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #fb4f6b;
  color: #fff;
  border-style: none;
}

button.stop_button:hover {
  background-color: #f01d40;
  color: #fff;
}