@charset "UTF-8" ;

.map-wrapper
{
  max-width: 100% ;
  padding-bottom: 75% ;
  position: relative ;
  top: 0 ;
  left: 0 ;
  height: 0 ;
  overflow: hidden ;
}

.map-wrapper div.map
{
  position: absolute ;
  top: 0 ;
  left: 0 ;
  margin: 0px 10px;
  float: left;
  width: 45% ;
  height: 90% 
}

.map-wrapper div.gsv
{
  position: absolute ;
  top: 0 ;
  left: 46% ;
  margin: 0px 10px;
  float: left;
  width: 45% ;
  height: 90% ;
}

.map-wrapper img
{
  max-width: none ;
}

input[type="button"] {
  background-color: #0000FF;
  font-size: 1.4em;
  color: white;
  border: 1px solid blue;
  width: 30%;
}
